{% extends "base.html" %}
{% block title %}Promposals FAQ{% endblock %}

{% block body %}
<button class="accordion">What is this website?</button>
<div class="panel">
    <p>
        This website is a way for seniors who are wishing to plan a
        promposal to ensure that no two people have a promposal at the
        same time. This website keeps track of all the school days for the
        rest of the year until Prom and records which days are taken.
    </p>
</div>

<button class="accordion">How do you use it?</button>
<div class="panel">
    <p>
        In the top, you can see there is a navigation bar. Clicking on
        "Promposals Calendar" will bring you to the main page. Here, you
        can input your Stuyvesant email, OSIS, and the date you wish to
        prompose to your significant other. <b>We will be checking the
        database every so often<b> and if you input these fields incorrectly or
        input nonsense, you will be unsigned up for the date.
    </p>
</div>

<button class="accordion">What if I forgot what date I signe up for?</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
{% endblock %}
