{% extends "base.html" %}
{% block title %}Promposals Calendar{% endblock %}
{% block body %}
<h1 id="intro">Welcome to the date picker</h1>

<div class="m-3 d-flex align-items-center justify-content-center">
    <div class = "card">
        <div class = "card-body">
            <p style="color:red">{{error}}</p>
            <p style="color:red">{{error2}}</p>
            <form action="/date">
                <input id="ID" width="276" name="ID" placeholder="Enter your OSIS"><br>
                <p>Select a date for your Promposal:
                    <select id="dates" name="dat">
                    </select>
                </p>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    var dates = {{happy}};
    for (let i = 0; i < dates.length; i++) {
        var cur = dates[i];
        var eyes = convert(cur);
        var newForm = document.createElement("option");
        newForm.setAttribute("id", cur);
        newForm.setAttribute("value", cur);
        newForm.innerHTML = eyes;
        document.getElementById("dates").appendChild(newForm);
    }
</script>
{% endblock %}
