{% extends "base.html" %}
{% block title %}Promposal Picked Date{% endblock %}

{% block body %}
<div class="m-4 d-flex align-items-center justify-content-left">
    <div class="card" style="border-width:2px;">
        <div class = "card-body">
            <h1 id="intro" class="mb-1 pb-0">Confirmation!
                <img src="static/check.png" width="40px" height="40px">
            </h1>
            You selected: <b>{{selectedDate}}</b> with OSIS: <b>{{osis}}</b>.
        </div>
    </div>
</div>
{% endblock %}
